{{ ansible_managed | comment(beginning="##", end="##", decoration="#", prefix_count=0, postfix_count=0) }}

# OLCF {{ NSP_system_name }} {{ _SPACK_environment_name }} Spack Environment

spack:
  view: false
  include:
  - concretizer.yaml
  - modules.yaml
  - config.yaml
  - packages.yaml

  # -------------------------------------------------------------------
  # Specs Definitions
  # -------------------------------------------------------------------

  definitions:
  - gcc_compilers:
    - '%gcc@14.2.0'
  - llvm_compilers:
    - '%clang@19.1.0'
  - oneapi_compilers:
    - '%intel-oneapi-compilers'
  - cpe-gnu_compilers:
    - '%gcc@=13.2.1'
  - all_compilers:
    - $gcc_compilers
    - $llvm_compilers
    - $oneapi_compilers



  - sw-26.03-nompi-nocuda_gcc:
    - darshan-util
    #- openbabel
    - ncview
      #- ncl
    - gsl
    #- boost ~mpi
    - openblas
    - netlib-lapack
    #- netcdf-cxx4
    #- netcdf-fortran
    #- openmpi ~cuda
    #- mpich
    - parmetis
    - netlib-scalapack
    - petsc+batch ~mpi~cuda
    - slepc ~cuda
    - adios ~mpi
    - adios@1.13.1 ~mpi
    #- fftw ~mpi
    - hdf5 +hl+cxx+fortran ~mpi
    - xerces-c

  - sw-26.03-nompi-nocuda_allcomp:
    #- openbabel
    #- ncview
      #- ncl
    - boost ~mpi
    - boost@1.84.0 ~mpi
    #- openblas
    #- netlib-lapack
    - netcdf-cxx4
    - netcdf-fortran
    - openmpi ~cuda
    - mpich
    #- parmetis
    #- netlib-scalapack
    #- petsc+batch ~mpi~cuda
    #- slepc ~cuda
    #- adios ~mpi
    - fftw ~mpi
    #- hdf5 +hl+cxx+fortran ~mpi
    - zlib

  - sw-26.03-nompi-cuda:
    #- cudnn
    - openmpi +cuda #cuda_arch=90

  - sw-26.03-mpi-nocuda:
    - boost +mpi
    - boost@1.84.0 +mpi
    - netcdf-c +mpi
    - hdf5 +hl+cxx+fortran +mpi
    - adios +mpi
    - adios@1.13.1 +mpi
    - fftw +mpi+openmp
    - hpgmg ~cuda
    - openfast
    - darshan-runtime +mpi scheduler=slurm
    #- hypre@2.25.0 +mpi ~cuda
    - hypre +mpi ~cuda
    - parallel-netcdf
    - superlu-dist ~cuda

  - sw-26.03-mpi-cuda:
    #- petsc+batch +mpi+cuda cuda_arch=90
    #- slepc +cuda cuda_arch=90
    - hpgmg +cuda
    - hpctoolkit +mpi
    #- hypre@2.25.0 +mpi +cuda cuda_arch=90
    - hypre +mpi +cuda cuda_arch=90
    - superlu-dist +cuda 

  - sw-26.03-intelmpi:
    - boost +mpi ^intel-oneapi-mpi
    - boost@1.84.0 +mpi ^intel-oneapi-mpi
    - netcdf-c +mpi ^intel-oneapi-mpi
    - hdf5 +hl+cxx+fortran +mpi ^intel-oneapi-mpi
    - adios +mpi ^intel-oneapi-mpi
    - adios@1.13.1 +mpi ^intel-oneapi-mpi
    - fftw +mpi+openmp ^intel-oneapi-mpi
    - hpgmg ~cuda ^intel-oneapi-mpi
    - openfast ^intel-oneapi-mpi
    - intel-oneapi-mkl
    - intel-oneapi-mkl@2024.0.0
    - intel-oneapi-mkl@2023.2.0
    - intel-oneapi-dnn@2024.0.0
    - intel-oneapi-dnn@2023.2.0
    - intel-oneapi-dal@2024.0.0
    - intel-oneapi-dal@2023.2.0
    - intel-oneapi-dpl@2022.3.0
    - intel-oneapi-dpl@2022.2.0
    - intel-oneapi-ipp@2021.10.0
    - intel-oneapi-ipp@2021.9.0
    - intel-oneapi-ippcp@2021.8.0
    - intel-oneapi-ippcp@2021.9.0
    - intel-oneapi-tbb@2021.10.0
    - intel-oneapi-mpi
    - intel-oneapi-advisor
    - intel-oneapi-inspector
    - intel-oneapi-runtime
    #- intel-oneapi-trace
    - intel-oneapi-vtune
    #- hypre@2.25.0 +mpi +cuda cuda_arch=90 ^intel-oneapi-mpi
    - hypre +mpi +cuda cuda_arch=90 ^intel-oneapi-mpi
    #- hypre@2.25.0 +mpi ~cuda ^intel-oneapi-mpi
    - hypre +mpi ~cuda ^intel-oneapi-mpi
    - parallel-netcdf ^intel-oneapi-mpi
    - superlu-dist ~cuda ^intel-oneapi-mpi

  - sw-26.03-cray-mpich:
    - boost +mpi ^cray-mpich
    - boost@1.84.0 +mpi ^cray-mpich
    - netcdf-c +mpi ^cray-mpich
    - hdf5 +hl+cxx+fortran +mpi ^cray-mpich
    - adios +mpi ^cray-mpich
    - adios@1.13.1 +mpi ^cray-mpich
    - fftw +mpi ^cray-mpich
    - hpgmg ~cuda ^cray-mpich
    - openfast ^cray-mpich
    #- hypre@2.25.0 +mpi ~cuda ^cray-mpich
    - hypre +mpi ~cuda ^cray-mpich
    #- hypre@2.25.0 +mpi +cuda cuda_arch=90 ^cray-mpich
    - hypre +mpi +cuda cuda_arch=90 ^cray-mpich
    - parallel-netcdf ^cray-mpich
    - superlu-dist ~cuda ^cray-mpich

  # -------------------------------------------------------------------
  # Final Spec Matrices
  # -------------------------------------------------------------------

  - sw_nompi-nocuda_gcc:
    - matrix:
      - - $sw-26.03-nompi-nocuda_gcc
      - - $gcc_compilers

  - sw_nompi-nocuda_allcomp:
    - matrix:
      - - $sw-26.03-nompi-nocuda_allcomp
      - - $all_compilers
  - sw_nompi-cuda:
    - matrix:
      - - $sw-26.03-nompi-cuda
      - - $gcc_compilers

  - sw_mpi-nocuda:
    - matrix:
      - - $sw-26.03-mpi-nocuda
      - - $gcc_compilers

  - sw_mpi-cuda:
    - matrix:
      - - $sw-26.03-mpi-cuda
      - - $gcc_compilers

  - sw_intempi:
    - matrix:
      - - $sw-26.03-intelmpi
      - - $oneapi_compilers

  - sw_craympich:
    - matrix:
      - - $sw-26.03-cray-mpich
      - - $cpe-gnu_compilers
  specs:
  - $sw_nompi-nocuda_gcc
  - $sw_nompi-nocuda_allcomp
  - $sw_nompi-cuda
  - $sw_mpi-nocuda
  - $sw_mpi-cuda
  - $sw_intempi
  - $sw_craympich
  - cudnn
  - arm-forge+accept-eula
  - openbabel
