- name: Deploy Eyas
  hosts: localhost

  vars:
    NSP_system_name: eyas
    NSP_install_root: "{{ ['/nopt/nrel/apps', NSP_system_name] | path_join }}"
    NSP_scratch_directory: "{{ ['/scratch', ansible_user_id] | path_join }}"
    NSP_help_email: walid.arsalane@nrel.gov
    NSP_site_name: NREL
      

  roles: 
    - role: init
      #- role: cuda
      #  vars:
      #    NSP_CUDA_version: '12.4.1'
      #    NSP_CUDA_driver: '550.54.15'
    - role: lmod
      vars:
        NSP_LMOD_install_type: internal 
        NSP_LMOD_version: 8.7.37
        NSP_LMOD_enable_tcl: true
        #NSP_LMOD_default_module_paths: "/nopt/nrel/apps/cpu_stack/modules/default/application"
        NSP_LMOD_path_names:
          /nopt/nrel/apps/testing/dep_stack/kestrel/cpe-deps: "[ CPE thirdparty Dependencies ]"      
          /nopt/nrel/apps/testing/dep_stack/kestrel/apps_modules/25.12: "[ Research Applications ]"
          /opt/cray/pe/lmod/modulefiles/craype-targets/default: " [ Optimization Flags ] "
          /opt/cray/pe/lmod/modulefiles/core: "[ Cray Programming Environment  ]"
          /nopt/nrel/apps/testing/dep_stack/kestrel/craympich_packages: "[ Cray-Mpich apps  ]"
          #/nopt/nrel/apps/testing/dep_stack/kestrel/spack/modules/gcc/12.2.1/cray-mpich-8.1.28/gcc-12.2.1: "[ Cray-mpich Compatible modules ]"
        NSP_LMOD_nv_mappings:
          llvm/19.1.0: {name: clang, version: "%s"}
          gcc-native/12.1: {name: gcc, version: "12.2.1"}
          #oneapi/version: {name: intel-oneapi-compilers, version: "%s"}
        NSP_LMOD_enable_logging: True
        NSP_LMOD_logging_url: "http://localhost:8080/"
        NSP_LMOD_default_modules:
          - Core/25.12
          - gcc/14.2.0
        NSP_LMOD_hierarchy:
          compiler:
            members: [ gcc, oneapi, llvm ]
            paths:
              - {path: '|compiler.name|-|compiler.version|', weight: 20}
              - {path: '|mpi.name|-|mpi.version|/|compiler.name|-|compiler.version|', weight: 30}
            level: 0
          mpi:
            members: [ openmpi, mpich, intel-oneapi-mpi, cray-mpich ]
            paths:
              - {path: '|mpi.name|-|mpi.version|/|compiler.name|-|compiler.version|', weight: 30}
            level: 1  
          gpu:
            members: [ cuda ]
            paths:
              - {path: '|gpu.name|-|gpu.version|/|compiler.name|-|compiler.version|', weight: 30}
              - {path: '|mpi.name|-|mpi.version|/|gpu.name|-|gpu.version|/|compiler.name|-|compiler.version|', weight: 40}
              - {path: '|gpu.name|-|gpu.version|/|mpi.name|-|mpi.version|/|compiler.name|-|compiler.version|', weight: 40}
            level: 2  
    - role: miniforge3
      vars:
        NSP_MINIFORGE3_version: 24.11.3
          #- role: llvm
          #  vars:
          #    NSP_LLVM_version: 19.1.0
          #- role: gcc
          #  vars:
          #    NSP_GCC_version: 14.2.0
          #- role: oneapi
          #  vars:
          #    NSP_ONEAPI_hpc_toolkit_url: ' https://registrationcenter-download.intel.com/akdlm/IRC_NAS/0ed71121-bd80-4ba7-ab54-805138bf06a7/intel-oneapi-hpc-toolkit-2025.1.3.10_offline.sh'
          #    NSP_ONEAPI_base_toolkit_url: 'https://registrationcenter-download.intel.com/akdlm/IRC_NAS/4a5320d1-0b48-458d-9668-fd0e4501208c/intel-oneapi-base-toolkit-2025.1.3.7_offline.sh'
          #    NSP_ONEAPI_version: 2025.1.3
          #- role: spack
          #  vars:
          #    _shared_templates: &shared_L
          #      - compilers
          #      - concretizer
          #      - config
          #      - modules
          #      - packages
          #    _specific_templates: &specific_L
          #      - spack
          #    NSP_SPACK_versions:
          #      v0.23.1:
          #        git_reference: 2bfcc69
          #      #v1.0.2:
          #      #  git_reference: 734c5db2121b01c373eed6538e452f18887e9e44
          #    NSP_SPACK_environments:
          #      core25.12: { spack_version: v0.23.1, specific_templates: *specific_L, shared_templates: *shared_L }
          #      sw25.12: { spack_version: v0.23.1, specific_templates: *specific_L, shared_templates: *shared_L }
    - role: files
      vars:
        NSP_FILES_inventory:
          - src: Core
            dest: "{{ [NSP_module_root, 'Core'] | path_join }}"
          - src: application
            dest: "{{ [NSP_module_root, 'application'] | path_join }}"  
          - src: cpe-stack
            dest: "{{ [NSP_module_root, 'cpe-stack'] | path_join }}"  
