{{ ansible_managed | comment(beginning="##", end="##", decoration="#", prefix_count=0, postfix_count=0) }}

packages:
  cuda:
    require: '+allow-unsupported-compilers' 
    externals:
      - spec: cuda@12.4.1
        prefix: /nopt/nrel/apps/testing/dep_stack/kestrel/cuda/12.4.1 
    buildable: false
  slurm:
    buildable: false
    externals:
      - spec: slurm@25-05-5
        prefix: /nopt/slurm/current 
  libfabric:
    buildable: false
    externals:
      - spec: libfabric@1.22.0
        prefix: /opt/cray/libfabric/1.22.0 
  openmpi: 
    require: schedulers=slurm fabrics=ofi 
  mpich: 
    require: +slurm 
  hwloc:
    require: '%gcc ^openmpi'
  intel-oneapi-mpi:
    require: '+external-libfabric%oneapi'
  boost:
    require: 'cxxflags="-pthread" ldflags="-pthread"'
  gtkplus:
    require: '@3.24.41'
  #hdf5:
  #  require: '%gcc'
  python:
    require: '%gcc'
  openbabel:
    require: '%gcc'
  #openbabel:
  #  require: 'cmake_args="-DENABLE_IPO=OFF"'
  #openblas:
  #  run_tests: false
  cray-mpich:
    require: "@8.1.32 %gcc"
    buildable: false
    externals:
      - spec: "cray-mpich@8.1.32%gcc"
        prefix: /opt/cray/pe/mpich/8.1.32/ofi/gnu/11.2
        modules:
          - cpe-stack
          - PrgEnv-gnu
          - libfabric
  all:
    buildable: true
    providers:
      blas: [openblas]
      lapack: [openblas]
      mpi: [openmpi,intel-oneapi-mpi,cray-mpich]
